/* light theme */
.main-light {
  background: linear-gradient(to left, #d66c45, #d58131, #4a736a, #324756);
}

.login-input-light {
  background-color: #2789ca;
  color: #fff;
}

.login-btn-light {
  background-color: #2789ca;
  color: #fff;
}

.dropdown-wrapper-light {
  background-color: #2789ca;
  color: #fff;
}

.login-btn-light:hover {
  cursor: pointer;
  background-color: #5b9ac4;
}

.logout-btn-light {
  background-color: #2789ca;
  color: #fff;
}

.logout-btn-light:hover {
  cursor: pointer;
  background-color: #5b9ac4;
}

.theme-btn-light {
  background-color: #2789ca;
  color: #fff;
  border: 1px solid #fff;
}

.theme-btn-light:hover {
  background-color: #5b9ac4;
  color: #fff;
}

/* .light {
  background: linear-gradient(to left, #d66c45, #d58131, #4a736a, #324756);
  background-color: #2789ca;
  color: #fff;
} */
